@model IEnumerable<CharityMS.ViewModels.PickUpVM>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index">
    <div class="input-group mb-3">
        <select class="form-select form-control" id="filter-status">
            <option selected value="">Please select a Status to Filter</option>
            <option value="Registed">Registed</option>
            <option value="Picked-Up">Picked-Up</option>
        </select>
        <button type="button" class="btn  btn-outline-secondary" onclick="onFilter()" style="width:150px">Filter</button>
    </div>
</form>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Donor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatiedPickUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Donor.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatiedPickUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (item.Status != "Picked-Up")
                {
                    <label>|</label>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <label>|</label>
                    <a asp-action="UpdateStatusProve" asp-route-id="@item.Id">Pick Up</a>
                    <label>|</label>
                    <a asp-action="Delete" asp-controller="PickUp" asp-route-id="@item.Id">Delete</a>
                }

            </td>
        </tr>
        }
    </tbody>
</table>

<script>

    function onFilter() {
        location.href = '@Url.Action("Index","PickUp")'+'?status=' + $("#filter-status").val();
    }
</script>