@model CharityMS.Models.Donation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Request Donation</h1>

<hr />
<div class="row">
    <form asp-action="Create">
        <input hidden asp-for="Id" id="id-textfield" class="form-control" />

        <div class="form-group row mb-3">
            <label class="col-form-label col-lg-3 col-sm-12">
                Applicant Name:
            </label>
            <div class="col-lg-5 col-md-9 col-sm-12">
                <input readonly id="applicant-textfield" class="form-control" value="@ViewBag.ApplicantFullname" />
                <input hidden asp-for="ReceiverId" id="receiver-textfield" class="form-control" />
            </div>
        </div>

        <div class="mb-3 col-md-9">
            <div class="card">
                <div class="card-header">
                    Request Item:
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Item Name
                                </th>
                                <th>
                                    Item Quantity
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Donations != null)
                            {
                                @foreach (Item item in Model.Donations)
                                {
                                    <tr>
                                        <td>
                                            <input readonly type="text" value="@item.ItemName" class="form-control item-name" />
                                        </td>
                                        <td>
                                            <input type="text" value="@item.Quantity" class="form-control item-qty" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="form-group row mb-3">
            <label asp-for="Reason" class="col-form-label col-lg-3 col-sm-12">
                Reason:
            </label>
            <div class="col-lg-5 col-md-9 col-sm-12">
                <textarea readonly asp-for="Reason" id="reason-textfield" class="form-control" rows="2"></textarea>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-form-label col-lg-3 col-sm-12">
                Approved Date:
            </label>
            <div class="col-lg-5 col-md-9 col-sm-12">
                <input readonly value="@DateTime.Now" class="form-control" id="date-textfield" />
            </div>
        </div>

        <div class="form-group row mb-3">
            <label asp-for="Status" class="col-form-label col-lg-3 col-sm-12">
                Status:
            </label>
            <div class="col-lg-5 col-md-9 col-sm-12">
                <input readonly asp-for="Status" class="form-control" id="status-textfield" />
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-form-label col-lg-3 col-sm-12">
                Staff:
            </label>
            <div class="col-lg-5 col-md-9 col-sm-12">
                <input readonly class="form-control" value="@ViewBag.StaffFullName" />
            </div>
        </div>

        <div class="form-group mt-3">
            <input id="submit" type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create New Donation Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="itemForm">
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label class="form-label">Item Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" required">
                        </div>

                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Item Quantity</label>
                        <div class="input-group">
                            <input type="number" class="form-control" required">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Create">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>*@

@section Scripts {
    <script>
        //trigger when loaded
        $(document).ready(function () {
            var errorMsg = "@ViewBag.errorMsg";

            if (errorMsg)
                Swal.fire({
                    icon: 'error',
                    title: 'Opps...',
                    text: errorMsg
                })
        })

        $("#submit").click(function (e) {
            e.preventDefault();
            var formData = new FormData();

            formData.append("donation.Id", $("#id-textfield").val());
            formData.append("donation.Reason", $("#reason-textfield").val());
            formData.append("donation.ApplicantName", $("#applicant-textfield").val());
            formData.append("donation.ReceiverId", $("#receiver-textfield").val());
            formData.append("donation.Date", $("#date-textfield").val());
            formData.append("donation.Status", $("#status-textfield").val());

            $("input.item-name").each(function (i) {
                var ItemName = $(this).val();
                formData.append("donation.Donations[" + i + "].ItemName", ItemName);
            });

            $("input.item-qty").each(function (i) {
                var Quantity = $(this).val();
                formData.append("donation.Donations[" + i + "].Quantity", Quantity);
            });

            $.ajax({
                method: 'post',
                url: "/Donations/Create",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.Result == -1) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.message
                        })
                    }
                    else {
                        Swal.fire({
                            icon: 'success',
                            title: 'Congratulations',
                            text: data.message
                        }).then(function () {
                            location.href = '@Url.Action("Index", "Donations")';
                        });
                    }
                }
            });
        });

        $("#addItem").click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) {
                    $("#editorRows").append(html);
                    $(".deleteRow").click(function () {
                        $(this).parents("div.editorRow:first").remove();
                        return false;
                    });
                }
            });
            return false;
        });


    </script>
}
