@model CharityMS.ViewModels.InventoryVM
@{
    ViewData["Title"] = "InsertInventory";
}

@if (ViewBag.msg != "")
{
    <script>alert("@ViewBag.msg");</script>
}

<h1>Insert Inventory Form:</h1>
<br />
<br />
    <form method="post" asp-action="InsertInventory">
            <div class="form-field">
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label>Donor Name:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" asp-for="DonorID" value="@Model.DonorID" class="form-control" />
                        <span asp-validation-for="DonorID" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                        <label>Category:</label>
                    </div>
                    <div class="col-md-5">
                        <select asp-for="Category" asp-items="@Model.Categories" class="form-select" id="catTxt" onchange="categoryOnChange()"></select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label>Item Name:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" asp-for="Name" value="@Model.Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label>Quantity:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="number" asp-for="Quantity" value="@Model.Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3" style="display:none" id="expiredDateDiv">
                    <div class="col-md-2">
                        <label>ExpiredDate:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="date" asp-for="@Model.ExpiredDate" class="form-control" />
                        <span asp-validation-for="ExpiredDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3" style="display:none" id="condition">
                    <div class="col-md-2">
                        <label>Condition:</label>
                    </div>
                    <div class="col-md-5">
                        <select asp-for="ProductCondition" asp-items="@Model.Conditions" class="form-control"></select>
                        <span asp-validation-for="ProductCondition" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3" style="display:none" id="size">
                    <div class="col-md-2">
                        <label>Clothe Size:</label>
                    </div>
                    <div class="col-md-5">
                        <select asp-for="cloteSize" asp-items="@Model.clothSizes" class="form-control"></select>
                        <span asp-validation-for="cloteSize" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <button class="btn btn-primary btn-block" type="submit">Insert</button>
                <a asp-action="InventoryList" class="btn btn-secondary btn-block">Back</a>
            </div>

    </form>


@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            var msg = "@ViewBag.msg";

            if (msg)
                Swal.fire({
                    position: 'top-end',
                    icon: 'info',
                    text: msg,
                    showConfirmButton: false,
                    timer: 2500
                })

        })

        function categoryOnChange() {
            var cat = document.getElementById('catTxt').value
            console.log(cat)
            if (cat == "food" || cat == "beverage") {
                document.getElementById('expiredDateDiv').style.display = 'block';
                document.getElementById('condition').style.display = 'none';
                document.getElementById('size').style.display = 'none';
            } else if (cat == "electronics") {
                document.getElementById('expiredDateDiv').style.display = 'none';
                document.getElementById('condition').style.display = 'block';
                document.getElementById('size').style.display = 'none';
            } else if (cat == "clothe") {
                document.getElementById('expiredDateDiv').style.display = 'none';
                document.getElementById('condition').style.display = 'none';
                document.getElementById('size').style.display = 'block';
            } else {
                document.getElementById('expiredDateDiv').style.display = 'none';
                document.getElementById('condition').style.display = 'none';
                document.getElementById('size').style.display = 'none';
            }
        }
    </script>

}