@model List<CharityMS.ViewModels.InventoryVM>
@{
    ViewData["Title"] = "InventoryList";
}

<style type="text/css">
    dt, dd {
        display: block;
        margin: 0px;
        padding: 0px;
        margin-bottom: 3px !important;
    }

    dt {
        font-weight: 500;
        clear: both;
        background-color: #98fb98;
    }

    dd {
        padding-bottom: 10px;
        background-color: #f6f0e8;
    }
</style>

<h1>Inventory List</h1>

<div class="container">
    <br />
    <br />
    <form method="post" asp-action="InventoryList">
        <div class="row">
            <div class="col-md-1 text-right ms-2">
                <label>Item Name: </label>
            </div>
            <div class="col-md-2">
                <input class="form-control" type="text" name="itemName" />
            </div>
            <div class="col-md-1 text-right ms-2">
                <label>Category: </label>
            </div>
            <div class="col-md-2">
                <select name="category" class="form-select">
                    <option value="">Select</option>
                    <option value="food">Food</option>
                    <option value="breverage">Breverage</option>
                    <option value="electronics">Electronics</option>
                    <option value="clothe">Clothe</option>
                </select>
            </div>

            <div class="col-md-1 text-right ms-2">
                <label>Status: </label>
            </div>
            <div class="col-md-2">
                <select name="Status" class="form-select">
                    <option value="">Select</option>
                    <option value="Available">Available</option>
                    <option value="Not Available">Not Available</option>
                    <option value="Donated">Donated</option>
                </select>
            </div>
            <div class="col-md-2 ms-2">
                <button type="submit" name="submit" class=" btn btn-success btn-block">Search</button>
            </div>

        </div>
    </form>
    <hr />
    @if (User.IsInRole("Staff"))
    {
        <a class="btn btn-primary" asp-action="InsertInventory">Add Record</a>
    }
    @if (ViewBag.msg == "Data was found!")
    {
        <br />
        <br />
        <center><h5>Number of the transaction found in this search result : @Model.Count</h5></center>

        <div class="row mt-3">
            @foreach (var item in Model)
            {

                <div class="card col-md-5 mx-auto mb-4">
                    <div class="card-body">
                        <h3 class="card-title"><b>@item.Name</b></h3>
                        <h5 class="card-subtitle mb-2 text-muted">@item.Category</h5>

                        <div class="card-text">
                            <dl class="row">
                                <dt class="col-sm-5">
                                    Donor Name:
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => item.DonorID)
                                </dd>
                            </dl>


                            @if (!String.IsNullOrEmpty(@item.ExpiredDate))
                            {
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        Expired Date:
                                    </dt>
                                    <dd class="col-sm-7">
                                        @Html.DisplayFor(model => item.ExpiredDate)
                                    </dd>
                                </dl>
                            }

                            @if (@item.ProductCondition != null)
                            {
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        Condition:
                                    </dt>
                                    <dd class="col-sm-7">
                                        @Html.DisplayFor(model => item.ProductCondition)
                                    </dd>
                                </dl>
                            }

                            @if (item.cloteSize != null)
                            {
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        Clothe Size:
                                    </dt>
                                    <dd class="col-sm-7">
                                        @Html.DisplayFor(model => item.cloteSize)
                                    </dd>
                                </dl>
                            }

                            @if (!String.IsNullOrEmpty(@item.Receiver))
                            {
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        Receiver:
                                    </dt>
                                    <dd class="col-sm-7">
                                        @Html.DisplayFor(model => item.Receiver)
                                    </dd>
                                </dl>
                            }

                            <dl class="row">
                                <dt class="col-sm-5">
                                    Status:
                                </dt>
                                <dd class="col-sm-7">
                                    @Html.DisplayFor(model => item.Status)
                                </dd>
                            </dl>
                        </div>

                        @if (User.IsInRole("Staff"))
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <a asp-action="updateInventory" asp-controller="Inventory" asp-route-donorId="@item.DonorID" asp-route-inventoryId="@item.InventoryID" class="btn btn-info btn-block">Edit</a>
                                </div>
                                <div class="col-md-4">
                                    <a asp-action="deleteInventory" asp-controller="Inventory" asp-route-donorId="@item.DonorID" asp-route-inventoryId="@item.InventoryID" class="btn btn-danger btn-block">Delete</a>
                                </div>
                                <div class="col-md-4">
                                    @*<a asp-action="Donate" asp-controller="Inventory" asp-route-donorId="@item.DonorID" asp-route-inventoryId="@item.InventoryID" asp-route-receiverName="hello" class="btn btn-success">Donate</a>*@
                                    @if (item.Status != "Donated")
                                    {
                                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#createModal_@item.InventoryID">
                                            Donate
                                        </button>

                                        <div class="modal fade" id="createModal_@item.InventoryID" tabindex="-1" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="createModalLabel">Donations</h5>
                                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <form id="donateForm">
                                                        <div class="modal-body">
                                                            <div class="form-group mb-3">
                                                                <label class="form-label">Receiver</label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" required id="receiver-txt_@item.InventoryID">
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            @*<a asp-action="Donate" asp-controller="Inventory" asp-route-donorId="@item.DonorID" asp-route-inventoryId="@item.InventoryID" asp-route-receiverName="hello" class="btn btn-success">Donate</a>*@
                                                            <button type="button" class="btn btn-primary" onclick="onDonate('@item.DonorID','@item.InventoryID')">Donate</button>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts{
    <script type="text/javascript">
        //trigger when loaded
        $(document).ready(function () {

            var errorMsg = "@ViewBag.ErrorMsg";

            if (errorMsg)
                Swal.fire({
                    icon: 'error',
                    title: 'Opps...',
                    text: errorMsg
                })

            var successMsg = "@Html.Raw(TempData["successMsg"])";

            if (successMsg)
                Swal.fire({
                    icon: 'success',
                    title: 'Congratulations',
                    text: successMsg
                })

            var errorTempMsg = "@Html.Raw(TempData["errorMsg"])";

            if (errorTempMsg)
                Swal.fire({
                    icon: 'error',
                    title: 'Opps...',
                    text: errorTempMsg
                })

            var msg = "@ViewBag.msg";

            if (msg)
                Swal.fire({
                    position: 'top-end',
                    icon: 'info',
                    text: msg,
                    showConfirmButton: false,
                    timer: 2500
                });

        })

        function onDonate(donor, inv) {
            var rec = $('#receiver-txt_' + inv).val();
            if (rec == "" || rec==null) {
                Swal.fire({
                    icon: 'error',
                    title: 'Opps...',
                    text: "Please enter a receiver name"
                })
                return;
            }
            location.href = '@Url.Action("Donate", "Inventory")' + '?donorId=' + donor + '&inventoryId=' + inv + '&receiverName=' + rec;
        }
    </script>
}