@model CharityMS.ViewModels.InventoryVM
@{
    ViewData["Title"] = "updateInventory";
}

<h1>Update Inventory</h1>
<div class="container">
        <br /><hr /><br />
        <form method="post" asp-action="updateData">
            <div class="card" style="background-color:lightblue; padding:12px;">
                <div class="form-field">
                    <input type="hidden" asp-for="DonorID" value="@Model.DonorID" />
                    <input type="hidden" asp-for="InventoryID" value="@Model.InventoryID" />
                    <input type="hidden" asp-for="Category" value="@Model.Category" />
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label>Donor Name:</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" asp-for="DonorID" value="@Model.DonorID" disabled class="form-control" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label>Category:</label>
                        </div>
                        <div class="col-md-5">
                            <select asp-for="Category" asp-items="@Model.Categories" class="form-select" disabled></select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label>Item Name:</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" asp-for="Name" value="@Model.Name" class="form-control" />
                        </div>
                    </div>


                    @if (!String.IsNullOrEmpty(Model.ExpiredDate))
                    {
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label>ExpiredDate:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="date" asp-for="@Model.ExpiredDate" class="form-control"/>
                            </div>
                        </div>
                    }

                    @if (Model.ProductCondition != null)
                    {
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label>Condition:</label>
                            </div>
                            <div class="col-md-5">
                                <select asp-for="ProductCondition" asp-items="@Model.Conditions" class="form-control"></select>
                            </div>
                        </div>
                    }

                    @if (Model.cloteSize != null)
                    {
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label>Clothe Size:</label>
                            </div>
                            <div class="col-md-5">
                                <select asp-for="cloteSize" asp-items="@Model.clothSizes" class="form-control"></select>
                            </div>
                        </div>
                    }

                    @if (!String.IsNullOrEmpty(Model.Receiver))
                    {
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label>Receiver:</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" asp-for="@Model.Receiver" disabled class="form-control" />
                            </div>
                        </div>
                    }


                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label>Status:</label>
                        </div>
                        <div class="col-md-5">
                            <select asp-for="Status" asp-items="@Model.Statusddl" class="form-control"></select>
                        </div>
                    </div>

                </div>
                <div class="=col-md-2">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
                
            </div>
        </form>
</div>